.sidebar {
  width: 31.8%;

  &__person {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;

    &_img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &_body {
      padding: 15px;

      h3 {
        font-size: 20px;
        font-family: $Raleway-bold, sans-serif;
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
        line-height: 1.5;
      }
    }
  }

  &__posts {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;

    &_name {
      h4 {
        font-size: 20px;
        padding: 21px 15px;
        background: $grey;
      }
    }

    &_item {
      padding: 15px;
      @extend %flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .2);

      &:hover {
        background: rgba(0, 0, 0, .2);
      }

      &_photo {
        width: 50px;
        padding-right: 15px;

        img {
          width: 100%;
        }
      }

      &_context {
        h5 {
          font-size: 18px;
          padding-bottom: 10px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }

  &__tags {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

    &_name {
      h4 {
        font-size: 20px;
        padding: 21px 15px;
        background: $grey;
      }
    }

    &_list {
      @extend %flex;
      justify-content: flex-start;
      list-style: none;
      padding: 20px 15px 5px;
      font-size: 13px;
      width: 90%;

      li {
        margin: 0 5px 25px 0;

        &:hover {
          margin-bottom: 23px;
        }

        a {
          text-decoration: none;
          color: $black;
          background: $grey;
          padding: 2px 5px;
          outline: none;

          &:hover {
            color: $white;
            background: $black;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .sidebar {
    &__tags {
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 990px) {
  .sidebar {
    width: 100%;
  }
}